html, body{
    display: flex;
    min-height: 100vh;
    flex: 1;
    font-family:  Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
    background-image: -webkit-linear-gradient(right, rgba(16, 26, 193, 0.67), white, rgba(16, 26, 193, 0.67));
}


.body-container{
    display: flex;
    flex-direction: column;
    max-width: 960px;
    height: 100%;
    border-color: black;
    /*background:  rgba(17, 18, 19, 0.58);*/
    margin: 0 auto;
    background-color: white;

}

.row, .col-lg-8{
    margin: 0;
    padding: 0;
}

hr{
    width: 100%;
    height: 1px;
    margin-left: 25px;
    background-image: -webkit-linear-gradient(left,transparent , gainsboro, transparent);
    background-image: -moz-linear-gradient(left,transparent , gainsboro, transparent);
    background-image: -ms-linear-gradient(left,transparent , gainsboro, transparent);
    background-image: -o-linear-gradient(left,transparent , gainsboro, transparent);
    background-image: linear-gradient(left,transparent , gainsboro, transparent);
}

.header{
    background-color: #0F0F0F;
}

.logo-img{
    margin: 20px auto;
}

.div-title-search{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}

input[type=search]{
    border-radius:10px;
    margin-right: 0;
    padding-left: 2px;
    float: right;
    height: 20px;
}

.right{
    float: right;
    display : inline-block;
    margin-top: 15px;
    margin-right: 20px;
}

.row{
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}

.menu-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

.menu-list li{
    float: left;
}

.menu-list li a{
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

.header-img img{
    width: 100%;
    height: auto;
}


.icons{
    background: #0F0F0F;
    width: 100%;
    margin: 0 auto;
}

.icons p
{
    font-size:large;
    margin: 0 auto;
    color: rgba(185, 185, 185, 0.58);
    text-align: left;
}

.events{
    display: flex;
    flex-direction: column;
}


.events{
    flex-direction: column;
    flex-flow: row wrap;
}

.events-div{
    display: inline-flex;
    flex-direction: row;
    margin-left: 25px;
}

.events-div h3{
    margin-bottom: 0;
}

.the-shop p{
    margin: 0;
}

.event-date-post{
    font-size: 10px;
    color: #337ab7;
}

.side-event-container{
    width: inherit;
    float: right;
    background-image: -webkit-linear-gradient(top, gainsboro, transparent);
    background-image: -moz-linear-gradient(left,transparent , gainsboro, transparent);
    background-image: -ms-linear-gradient(left,transparent , gainsboro, transparent);
    background-image: -o-linear-gradient(left,transparent , gainsboro, transparent);
    background-image: linear-gradient(left,transparent , gainsboro, transparent);
}

.pagination-div{
    margin-left: 25px;;
}

.events-img{
    margin-top: 20px;
    max-width: 155px;
    max-height: 155px;
}

.event-date-post
{
    padding: 0 auto;
}

.event-body{
    margin-left: 25px;
}


/*pagination*/
.pagination-div ul{
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li{
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    background-color: lightgrey;
    color: dimgrey;
}

ul.pagination li a.active {
    background-color: rgba(185, 185, 185, 0.58);
    color: white;
    border: 1px solid rgba(185, 185, 185, 0.58);
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

/*sponsors*/
.sponsors{
    margin-left: 25px;
}

.sponsors-img{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

}
.sponsors-logo  img{
    max-width: 125px;
    align-self: center;
}

.sponsors-logo{
    display: flex;
    width: 133.8px;
    height: 70px;
    border: 3px solid gainsboro;
    margin-right: 21px;
    margin-bottom: 5px;
    padding: 2px;
    text-align: center;

}


/*footer*/
.footer-container{
    background-color: #0F0F0F;
    color: grey;
}

.row-footer-container{
    margin-left: 25px;
}

.footer-container h3{
    color: white;
}

.whiteer{
    color: whitesmoke;
}

.footer-imgs-container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.footer-img{
    margin-right: 10px;
    margin-bottom: 8px;
}